<ModelConfig><NameSpace>Big.Data.Entity</NameSpace><EntityConnName>Data</EntityConnName><BaseClass>Entity</BaseClass><RenderGenEntity>false</RenderGenEntity><Override>true</Override><UseCNFileName>true</UseCNFileName><UseHeadTemplate>false</UseHeadTemplate><HeadTemplate>/*
 * XCoder v&lt;#=Version#&gt;
 * 作者：&lt;#=Environment.UserName + "/" + Environment.MachineName#&gt;
 * 时间：&lt;#=DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")#&gt;
 * 版权：版权所有 (C) 新生命开发团队 2002~&lt;#=DateTime.Now.ToString("yyyy")#&gt;
*/
</HeadTemplate><OutputPath>K:\BigData\Src\Big.Data\\Entity</OutputPath><TemplateName>[内置]实体数据</TemplateName></ModelConfig>